<!DOCTYPE html>
<html lang="en">
<head>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
        <link type="text/css" rel="stylesheet" media="all" href=# th:href="@{/css/larkU.css}">
        <title>LarkU</title>
    </head>
</head>
<body>
<p>
    <a href="http://localhost:8080/adminrest/student/whoiscalling">Who is calling?</a>
<p>
    <a href="http://localhost:8080/adminPage">Super Secret Admin Page</a>
<p>
    <a href="http://localhost:8080/jpql">Run Jpql Queries</a>
<p>
    <a href="http://localhost:8080/admin">Student GuiQueries</a>
<p>
    <a href="/logout">Logout</a>
</body>
</html>